<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Rockstar</title>
    <meta name="description" content="Rock on!">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="manifest.json">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <div class="controls">
      <img class="icon helpIcon" src="./icons/help.svg">
      <img class="icon audioControl" src="./icons/play.svg">
      <img class="icon settingsIcon" src="./icons/settings.svg">
      <select id="songSelect">
        <option>Select a song...</option>
      </select>
    </div>
    
    <div class="instruments"></div>
    
    <div class="modal helpModal">
      <div class="dialog">
        <p>Select a song and click <img width="16px" height="16px" src="./icons/play.svg"> to play it.</p>
        <p>Turn off auto mode using the "Auto" switch on the instrumnent you want to play.</p>
        <p>Click or touch the colour blocks or use the Q-W-E-R-T keys on your keboard to play along.</p>
        <p>Hit the correct color to catch the pulsing notes as they enter the bottom section.</p>
        <p>Controller support coming soon!</p>
      </div>
    </div>
    
    <div class="modal settingsModal">
      <div class="dialog">Coming soon...
        <ul>
          <li>Input configuration</li>
          <li>Difficulty</li>
        </ul>
      </div>
    </div>
    
    <div class="modal loaderModal">
      <svg class="loader" width="250" height="30" viewbox="0 0 250 30" xmlns="http://www.w3.org/2000/svg">
        <line y2="15" x2="235" y1="15" x1="15" stroke-width="30" stroke="var(--loader-color)" stroke-linecap="var(--loader-linecap)"/>
        <line y2="15" x2="235" y1="15" x1="15" stroke-width="20" stroke="var(--loader-background-color)" stroke-linecap="var(--loader-linecap)"/>
        <line class="inner" y2="15" x2="75" y1="15" x1="15" stroke-width="15" stroke="var(--loader-color)" stroke-linecap="var(--loader-linecap)"/>
      </svg>
    </div>
    
    <div class="background">
      <!-- Shader options 4tlSzl lsf3RH XsXXRN -->
      <iframe allowtransparence="true" 
              src="https://www.shadertoy.com/embed/XsXXRN?gui=false&t=10&paused=false&muted=false" 
              frameborder="0" style="overflow:hidden;height:100%;width:100%" 
              height="100%"
              width="100%">
      </iframe>
    </div>
    
    <script src="https://tonejs.github.io/build/Tone.min.js"></script>
    <script type="module" src="/main.js"></script>
  </body>
</html>