<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Rockstar</title>
    <meta name="description" content="Rock on!">
    <link id="favicon" rel="icon" href="/assets/favicon.ico" type="image/x-icon">
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Audiowide" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Metal+Mania" rel="stylesheet">
<!--     <link href="https://fonts.googleapis.com/css?family=New+Rocker" rel="stylesheet"> -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="manifest" href="manifest.json">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="stylesheet" href="/style.css">
    <script type="text/javascript" src="https://rawgit.com/patriciogonzalezvivo/glslCanvas/master/dist/GlslCanvas.js"></script>        
  </head>
  <body>
    
    <div class="modal loaderModal">
      <svg class="loader" width="250" height="30" viewbox="0 0 250 30" xmlns="http://www.w3.org/2000/svg">
        <line y2="15" x2="235" y1="15" x1="15" stroke-width="30" stroke="var(--loader-color)" stroke-linecap="var(--loader-linecap)"/>
        <line y2="15" x2="235" y1="15" x1="15" stroke-width="20" stroke="var(--loader-background-color)" stroke-linecap="var(--loader-linecap)"/>
        <line class="inner" y2="15" x2="75" y1="15" x1="15" stroke-width="15" stroke="var(--loader-color)" stroke-linecap="var(--loader-linecap)"/>
      </svg>
    </div>
    
    <div class="background">
      <canvas class="glslCanvas" data-fragment-url="bg1.frag" width="100%" height="100%"></canvas>      
    </div>
    
    <div class="controls">
      <img class="icon helpIcon" src="./icons/help.svg">
      <img class="icon audioControl" src="./icons/play.svg">
      <img class="icon songListIcon" src="./icons/list.svg">
      <img class="icon settingsIcon" src="./icons/settings.svg">
      <img class="icon closeControl" src="./icons/close.svg">
    </div>
    
    <p class="title">ROCKSTAR</p>
    
    <div class="songTitle"></div>
    <div class="instruments">
    </div>
    
    <div class="modal helpModal">
      <div class="dialog">
        <h2 class="modalTitle">Help</h2>
        <p>Click <img width="16px" height="16px" src="./icons/list.svg"> to select a song from list 
          and then clieck <img width="16px" height="16px" src="./icons/play.svg"> to let the computer play it.</p>
        <p>To play along, assign instruments to players using the green player selection bar on top of the instrument panel.</p>
        <p>Click or touch the correct color on the control bar at the bottom of the instrument panel as the same color note reaches the bar.</p> 
        <p>If you have compatible controllers (test them <a href="http://html5gamepad.com/">here</a>), assign and configure them in the 
          settings screen <img width="16px" height="16px" src="./icons/settings.svg">.</p>        
        <p>Have fun!</p>
      </div>
    </div>
    
    <div class="modal settingsModal">
      <div class="dialog">
        <h2 class="modalTitle">Settings</h2>
        <div class="settingsEl"></div>
      </div>
    </div>
    
    <div class="modal songListModal">
      <div class="dialog">
        <h2 class="modalTitle">Pick a song</h2>
        <ul class="songList"></ul>
      </div>
    </div>
    
<!--     <script src="https://tonejs.github.io/build/Tone.min.js"></script> -->
    <script src="./lib/tone.js"></script>
    <script src="./lib/Tonejs-Instruments.js"></script>
    <script type="module" src="/main.js"></script>
  </body>
</html>