.controls {
  padding: 10px;
}

.audioControls {
  display: none;
}

.audioControls > img {
  opacity: 0.6;
  width: 30px;
  height: 30px;
}  

.instruments > * {
  padding-right: 15px; 
  padding-bottom: 15px; 
}