body {
  background-color: #222;  
}

.controls {
  padding: 10px;
}

.songs > button {
  margin-right: 4px;
}

.audioControls {
  display: none;
}

.audioControls > img {
  opacity: 0.6;
  width: 30px;
  height: 30px;
}  

.instruments > * {
  background-color: #fff;  
  float: left;
  border: 10px solid #444;
  border-radius: 10px;  
  margin: 5px;
  height: 400px;
}